@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.max-wdith{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 20px;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease; 
    border: 3px solid black;
    border-radius: 15px;
    background-color: black;
}
.navbar.sticky{
    padding: 15px 20px;
    background-color:black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a:hover span{
    color: #4078c0;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.menu>li{
/* border: 1px solid green; */
/* padding: 10px; */
margin: auto;
text-align: center;
}
.navbar .menu li a,.navbar .menu li a p button{
color:  white;
font-size: 18px;
font-weight: 500;
transition:color 0.3s ease;
display: inline-block;
position: relative;
background-color: #000;
}
/* .navbar .menu li a>button{
    border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
} */
.navbar .menu li a:hover{
    color: #4078c0;
}
.navbar .menu li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:#4078c0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navbar .menu li a:hover::after{
    /* color: crimson; */
    transform: scaleX(1);
  transform-origin: bottom left;
}
#ahome,#aabout,#aproject{
    width: 70%;
}
#askill{
    width: 110%;
    padding-left: 20px;
    padding-right: 20px
}
#acontact{
    width: 70%;
    margin-left: -50px;
}
/* menu btn styling */
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* Home Section Styling */

.home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background: url("./Resource/background.jpg") no-repeat center; */
    background: white;
    width: 100%;
    background-size: auto;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home>.homeimage>img{
    border-radius: 50%;
    width: 100%;
}
.home .max-width{
    margin: auto 0 auto 180px;
   

}
/* .home .home-content {
    margin-top:300px ;
    margin-left:40px ;
} */
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-3{
    font-size: 27px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-2{
    font-size: 40px;
    margin: 5px 0px;
}
.home .home-content .text-3 span{
    color: #4078c0;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background:#4078c0 ;
    color: white;
    font-size: 25px;
    padding: 12px  36px;
    margin-top: 20px;
    border-radius:6px ;
    border: 2px solid #4078c0;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: white;
    background: none;
}
/* about section  */
section{
    padding: 70px 0;
}
.about, .skill{
    font-family: 'Poppins',sans-serif;
}
.about .title,.project .title,.contact-s>.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.about .title{
    padding: 20px;
    border: 1px solid black;
    background-color: #000;
    color: white;
    margin: 40px;
    border-radius: 70px;
    font-size: 40px;
}


.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.about .about-content .left{
width: 50%;
}
.about .about-content .left img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.about .about-content .right{
    width: 50%;
    }
.about .about-content .right .text{

    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #4078c0;
}

.about .about-content .right p{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 10px;
}

.about .about-content .right a{
    display: inline-block;
    background:#4078c0 ;
    color: white;
    font-size: 20px;
    padding: 12px  36px;
    margin-top: 20px;
    border-radius:6px ;
    border: 2px solid #4078c0;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #4078c0;
    background: none;
    border-radius: 6px ;
    border:6 px solid #4078c0;
}
/* Skills section */
.skill{
    background-color: white;
}
#skills,#tool,#skills-1{
    margin: auto;
    text-align: center;
   
}
#skills>h1,#tool>h1,#skills-1>h1{
    padding: 20px;
    font-size: 36px;
    color: white;
    background-color: #000;
    margin: 40px;
    border-radius:70px;
    font-size: 40px;

}
.frontend{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 40px;
   align-items: center;
    margin: auto;
}
.frontend-1{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    gap: 60px;
    align-items: center;
    margin: auto;
}
.frontend>.frontend-s>div>img,.tools>.tools-s>div>img{
    width: 100%;
}
.frontend-1>.frontend-s>div>img{
    width: 100%;
    height: 150px;
}
.tools{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    gap: 40px;
    /* margin: auto; */
    align-items: center;
    margin: auto;
}
.frontend>.frontend-s,.tools>.tools-s{
    border: 1px solid #5687C7;
    padding: 20px 20px;
}
.frontend>.frontend-s>div,.tools>.tools-s>div{
    box-shadow: black 0px 7px 29px 0px;
    padding: 10px 50px;
    background-color: #5687C7;
    border-radius: 12px;
}

.frontend>.frontend-s>div>p,.tools>.tools-s>div>p{
    font-family: 'Poppins',sans-serif;
    background: #5687C7;
    
    color: white;
    padding-top: 10px;
    font-size: 20px;
}

/* project styling*/
#projects-1,#projects-2,#projects-3,#projects-4{
    margin-bottom: 170px;
}
#projects-1,#projects-2,#projects-3,#projects-4,#projects-5{
    width: 90%;
    background:gray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* margin-bottom: 170px; */
}
.project-s >.image>img{
    width: 100%;
}
.project-s{
    padding: 20px;
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.project-s>.image>div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}
.project>.title{
    padding: 20px;
    font-size: 36px;
    color: white;
    background-color: #000;
    margin: 40px;
    border-radius: 70px;
    font-size: 40px;

}
.project-s>.image>h3{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}
.project-s>.image>div>.tools-s>div>img{
    width: 30%;
}
.project-s>.image>div>.tools-s>div>p{
    color: white;
}
.project-s>.paragraph{
    margin-top: -0px;
    /* border: 1px solid red; */
}
.project-s>.paragraph>h1{
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}

.project-s>.paragraph>p{
    margin: auto;
    /* text-align: center; */
    color: white;
    font-family: 'Poppins',sans-serif;
    /* text-align: center; */
    font-size: 18px;

    margin: 15px;
}
.project-s>.paragraph>div{
    /* padding-top: 50px; */
    margin-top: 20px;
    display: flex;
}
.project-s>.paragraph>div>a{
    border: 1px solid #5687C7;
    display: flex;
    gap: 10px;
    color: white;
    /* display: inline-block; */
    background:#5687C7 ;
    color: white;
    font-size: 12px;
    padding: 12px  36px;
    margin-top: 20px;
    border-radius:6px ;
    border: 2px solid #5687C7;
    transition: all 0.3s ease;
}
.project-s>.paragraph>div>a:hover{
    color: #5687C7;
    background: none;
    border-radius: 6px ;
    border:6 px solid #5687C7;
}
#project .title{
    padding: 20px;
    font-size: 36px;
    color: white;
    background-color: #000;
    margin: 40px;
    border-radius: 70px;
    font-size: 40px;

}
/* Contact Details */
.contact-s{
    /* padding: 40px; */
    width: 100%;
    background: white;
    margin: auto;
}
.contactdetails{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    justify-content: space-evenly;
    align-items:top;
    padding-left: 50px;
    padding-right: 50px;
}
.contactdetails a{
    width: 50%;
}
.contact-s>.title{
    padding: 20px;
    border: 1px solid black;
    background-color: #000;
    color: white;
    margin: 40px;
    border-radius: 70px;
    font-size: 40px;
}
.github{
    background: white;
}
.github>h1,#githubstat>h1{
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    color: white;
    background-color: #000;
    margin: 40px;
    border-radius: 70px;
}
.github .calendar{
    /* display: flex; */
    text-align: center;
    color:black;
    padding: 20px;
    background:#5687C7;
    /* border: 1px solid red; */

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
    max-width: 600px;
}
form>h3{
    color:white;
    font-weight: 800;
    margin-bottom: 20px;
}
form input,form textarea{
    border: none;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #5687C7;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 35px;
}
.links h3{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.links a{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}

.links a{
    /* display: inline-block; */
    text-align: center;
    background:#5687C7 ;
    color: white;
    font-size: 25px;
    padding: 12px;
    margin-top: 20px;
    border-radius:6px ;
    border: 2px solid #5687C7;
    transition: all 0.3s ease;
}
.links a:hover{
    color: white;
    background: none;
}
.footer{
color: white;
background: black;
font-family: 'Poppins',sans-serif;
font-size: 18px;
padding: 20px;
text-align: center;
}
.outer{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    padding: 10px;
    background: #1D75AB;

}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px  rgba(255, 255, 255, 1),
                0.5px 0.5px 0px  rgba(255, 255, 255, 1),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
   
    
}
.number{
    font-weight: 600;
    color: white;
    font-size: 25px;
}
.statistic{
    padding-top: 50px;
    /* background: white; */

}
.statistic>h1{
    padding: 20px;
    font-size: 36px;
    color: white;
    background-color: #000;
    margin: 40px;
    border-radius: 70px;
    text-align: center;
    font-size: 40px;

}
#datawork{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #5687C7;
    padding: 20px;
    text-align: center;
}
.circle1>h3{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: black;
    padding-top: 20px;
}
.circle1>p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: black;
}
#msg{
    color: #61b752;
    text-align: center;
    margin-left: 700px;
    margin-top: -70px;
    display: block;
}
/* media responsive */
@media (max-width:1300px ){
    .home .max-width{
        margin-left: 0px;
    }
    .home-content{
        padding-left: 70px;
    }
    #githubstat1{
        width: 70%;
        display: block;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1104px ){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .home-content{
        padding-left: 70px;
    }
    #githubstat1{
        width: 70%;
        display: block;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:991px ){
    .max-wdith{
        padding: 0 50px;
    }
    .home-content{
        padding-left: 70px;
    }
    
}

@media (max-width:1050px ) {
   
    .max-wdith{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        margin-left: 500px;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a img{
        display: none;
    }
    #ahome,#aabout,#aproject{
        width: 100%;
    }
    #askill{
        width: 100%;
    }
    #acontact{
        width: 100%;
        margin-left: 0px;
    }
    .navbar .menu li a,.navbar .menu li a p button{
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: left; */
        /* gap: 50px; */
        margin: 20px 0;
        font-size: 25px; 
    }
    /* #githubstat1{
        width: 70%;
        display: block;
        align-items: center;
        justify-content: center;
    } */
    .navbar .menu li a p button{
        margin-top:-5px;
        border: none;
    }
    .home-content{
        padding-left: 70px;
    }
.home .home-content .text-2{
    font-size: 70px;
}
.home .home-content .text-3{
    font-size: 35px;
}
.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
}
.max-wdith{
    max-width: 800px;
}
.about .about-content .column{
    width: 50%;
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
.about .about-content .right{
    flex: 100%;
}
.frontend{
    grid-template-columns: repeat(2,1fr);
}
.tools{
    grid-template-columns: repeat(2,1fr);

}
.frontend>.frontend-s,.tools>.tools-s{
    border: 1px solid #5687C7;
    padding: 20px 20px;
    
}
.frontend>.frontend-s>div,.tools>.tools-s>div{
    box-shadow: black 0px 7px 29px 0px;
    padding: 10px 50px;
    /* background-color: white; */
}
.project-s{
    grid-template-columns: repeat(1,1fr);

}
.project .title::after{
    content: "";
}
.contactdetails{
    grid-template-columns: repeat(1,1fr);
}
.container{
    height: 50vh;
}


#datawork{
    grid-template-columns: repeat(2,1fr);
}
.contactdetails a{
    width: 60%;
}
}
@media (max-width:690px ){
    .max-wdith{
        padding: 0 23px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        margin-left: 300px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .frontend{
        grid-template-columns: repeat(1,1fr);
    }
    .tools{
        grid-template-columns: repeat(1,1fr);
    
    }
   
    #datawork{
        grid-template-columns: repeat(2,1fr);
    }
    .project-s>.paragraph>div>a{
        gap: 20px;
    
        padding: 7px  16px; 
        
    }
    .home>.homeimage{
        display: none;
      }
      .container{
        height: 70vh;
    }
    form{
        width: 100%;
    }
    .contactdetails a{
        width: 70%;
    }
    }
@media (max-width:550px ){
    .menu-btn{
        display: block;
        z-index: 999;
        margin-left: 120px;
    }
 
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .frontend{
        grid-template-columns: repeat(1,1fr);
    }
    .tools{
        grid-template-columns: repeat(1,1fr);
    
    }
    #github{
        width: 100%;
    }
    #githubstat1>img {
        width: 70%;
        display: block;
        align-items: center;
        justify-content: center;
    }
    #datawork{
        grid-template-columns: repeat(1,1fr);
    }
   
    .project-s>.paragraph>div>a{
        gap: 3px;
        padding: 10px  16px; 
    }
    .home>.homeimage{
      display: none;
    }
    .container{
        height: 70vh;
    }
    form{
        width: 100%;
    }
    .frontend-1>.frontend-s>div>img{
        width: 90%;
        height: 100px;
    }
    .contactdetails a{
        width: 90%;
    }
}
